* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007681;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 600px;
}

.news-scroll {
    background-color: #007681;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.news-scroll ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation: scroll 35s linear infinite;
}

.news-scroll ul li {
    display: inline;
    padding: 0 20px;
    color: white;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


main {
    margin: 0;
    padding: 0;
    background-image: url(../img/imagen-fondo-1.jpg);
}

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 5px 5px 5px #007681;
    border: 4px solid #007681;
    margin: 0 auto;
}

.tarjeta h1 {
    font-size: 1.5em;
    margin: 0;
}

.tarjeta table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tarjeta table tr {
    border-bottom: 1px solid #ccc;
}

.tarjeta table tr td {
    padding: 5px;
}

.tarjeta table tr:last-child {
    border-bottom: none;
}

#inicioPage {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 5px #007681;
    border: 4px solid #007681;
    border-radius: 5px;
}

#conversorPage {
    background-color: #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
}

#conversorPage h2 {
    margin: 20px 0 0 0;
}

#conversorPage div label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

#conversorPage div input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #0074d9;
    border-radius: 3px;
    font-size: 16px;
}

#convertirBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#convertirBtn:hover {
    background-color: #07468a;
    transition: 3s;
}

#resultadoConversion {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    margin-top: 10px;
}

#historial {
    list-style-type: none;
    padding: 0;
}

#historial {
    font-size: 16px;
    margin-bottom: 5px;
}

#simuladorPrestamo {
    background-color: #e0e0e0;
    padding: 20px;
}

#simuladorPrestamo h2 {
    font-size: 24px;
    margin-top: 20px;
}

#simuladorPrestamo label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}

#simuladorPrestamo input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #0074d9;
    border-radius: 3px;
    font-size: 16px;
}

#calcularPrestamoBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#calcularPrestamoBtn:hover {
    background-color: #07468a;
    transition: 3s;
}

#resultadoPrestamo {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
}

#historialPrestamos {
    list-style-type: none;
    padding: 0;
}

#historialPrestamos {
    font-size: 16px;
    margin-bottom: 5px;
}

footer {
    font-size: 30px;
    background-color: #007681;
    display: flex;
    justify-content: center;
}

footer h3 {
    color: white;
}

/***MEDIA-QUERY***/

@media screen and (max-width:820px){
    footer h3{
        font-size: 25px;
    }
}

@media screen and (max-width:620px) {
    header img {
        height: 160px;
    }

    footer h3 {
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {
    header img {
        width: 300px;
        height: 100px;
    }

    #conversorPage h2 {
        font-size: 20px;
    }

    #conversorPage div label {
        font-size: 14px;
    }

    #conversorPage #resultadoConversion {
        font-size: 17px;
    }

    #simuladorPrestamo h2 {
        font-size: 20px;
    }

    #simuladorPrestamo label {
        font-size: 14px;
    }

    #simuladorPrestamo #resultadoPrestamo {
        font-size: 17px;
    }

    footer h3 {
        font-size: 15px;
    }
}
